_ReSharper*/
.Global/Signing/*
.vs*/
bin/
debug/
obj/
packages/*
Publish/
release/
testresults/
WebApplication/Client/Style/*.css
WebApplication/ConnectionStrings.config
*.suo
*.user

!.Global/Signing/ReadMe.txt
!.Global/Signing/StrongName.Development.snk
!WebApplication/Client/Style/bootstrap.css