<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>@ViewBag.Title - Claims to Windows Token Service</title>
		<link href="~/Client/Style/bootstrap.css" rel="stylesheet" />
		<link href="~/Client/Style/Main.css" rel="stylesheet" />
	</head>
	<body>
		<div class="navbar navbar-inverse navbar-fixed-top">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					@Html.ActionLink("Claims to Windows Token Service", "Index", "Home", new {area = ""}, new {@class = "navbar-brand"})
				</div>
				<div class="navbar-collapse collapse">
					<ul class="nav navbar-nav">
						<li>@Html.ActionLink("Home", "Index", "Home")</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="container body-content">
			@RenderBody()
			<hr />
			<footer>
				<p>Hans Kindberg</p>
			</footer>
		</div>
		<script src="~/Client/Scripts/jquery-3.1.1.js"></script>
		<script src="~/Client/Scripts/bootstrap.js"></script>
	</body>
</html>